In [47]:
import pandas as pd
from ams_utilities import *
import numpy as np

In [27]:
normal=pd.DataFrame(pd.read_csv(r'E:\Jake\morphology_k-means_clusters.csv',index_col=0).iloc[:,0])
reduced=pd.DataFrame(pd.read_csv(r'E:\Jake\morphology_k-means_clusters_reduced.csv',index_col=0).iloc[:,0])
inliers=pd.DataFrame(pd.read_csv(r'E:\Jake\morphology_k-means_clusters_noOutliers.csv',index_col=0).iloc[:,0])
noPCA=pd.DataFrame(pd.read_csv(r'E:\Jake\morphology_k-means_clusters_noPCA.csv',index_col=0).iloc[:,0])
#I am happy that all clusters '0' are basically the same, so these differences are meaningful

In [53]:
df=pd.concat([normal,reduced,inliers,noPCA],axis=1, join='outer', sort=True)
df.columns=['Normal', 'Reduced', 'No Outliers', 'No PCA']
df

df=df.drop(['Reduced'], axis=1)
same=[]
for count,i in enumerate(df.sum(axis=1)):
    if i==0 or i==3:
        same.append('True')
    elif i==2 and np.isnan(df.iat[count,1])==True:
        same.append('True')
    else:
        same.append('False')
df['Identity?']=same
df

               Normal  No Outliers  No PCA Identity?
AS016: Cell01       0          0.0       0      True
AS016: Cell02       0          0.0       0      True
AS029: Cell01       1          1.0       1      True
AS030: Cell01       0          0.0       0      True
AS036: Cell01       0          0.0       0      True
AS038: Cell01       0          0.0       0      True
AS039: Cell01       0          0.0       0      True
AS039: Cell02       1          NaN       1      True
AS040: Cell01       1          NaN       1      True
AS045: Cell01       0          0.0       0      True
AS049: Cell01       0          1.0       0     False
AS050: Cell01       0          0.0       0      True
AS054: Cell01       0          0.0       0      True
AS054: Cell02       0          0.0       0      True
AS055: Cell01       0          0.0       0      True
AS056: Cell01       0          0.0       0      True
AS056: Cell02       0          0.0       0      True
AS056: Cell03       0          1.0       0     False
AS057: Cell01       0          1.0       0     False
AS057: Cell02       0          1.0       0     False
AS057: Cell04       0          0.0       0      True
AS059: Cell01       1          1.0       1      True
AS059: Cell02       1          NaN       1      True
AS059: Cell03       1          1.0       1      True
AS059: Cell04       1          1.0       1      True
AS060: Cell03       0          0.0       0      True
AS060: Cell04       0          1.0       0     False
AS062: Cell02       1          NaN       1      True
AS063: Cell01       0          1.0       0     False
AS063: Cell02       0          0.0       0      True
AS069: Cell02       0          0.0       0      True
AS069: Cell03       0          1.0       0     False
AS071: Cell01       1          NaN       1      True
AS072: Cell01       1          1.0       1      True
AS072: Cell03       0          1.0       0     False
AS087: Cell01       0          1.0       0     False
AS087: Cell02       0          1.0       0     False
AS091: Cell02       0          0.0       0      True
AS091: Cell04       0          1.0       0     False
AS108: Cell01       1          1.0       1      True
AS109: Cell01       1          1.0       0     False
AS109: Cell03       0          1.0       0     False
AS113: Cell02       0          0.0       0      True
AS114: Cell01       0          1.0       0     False
AS114: Cell02       0          1.0       0     False
AS114: Cell03       0          0.0       0      True
AS115: Cell01       1          NaN       1      True
AS116: Cell01       0          1.0       0     False
AS116: Cell02       0          1.0       0     False
AS117: Cell04       0          NaN       0      True
AS152: Cell01       1          NaN       1      True

In [57]:
n=0
for i in df.loc[:,'Identity?']:
    if i == 'False':
        n+=1
n

17